@model CouponDto

<div class="text-center text-primary">
    <h1 class="pt-4">Congratulations!</h1>
    <h4 class="pt-4">You asked for a coupon</h4>
    <h4 class="pt-4">Code of the Coupon: @Model.CouponCode</h4>
    <h4 class="pt-4">Asked in : @Model.CouponDate.ToString("yyyy/MM/dd hh:mm:ss tt")</h4>
</div>